<h1>Editar Tarefa</h1>

<p>Da lista: <strong><%= @task_list.title %></strong></p>

<%= form_with(model: [@task_list, @task], local: true) do |form| %>
  <div>
    <%= form.label :description, "Descrição" %>
    <%= form.text_field :description, required: true, value: @task.description %>
  </div>
  
  <div>
    <%= form.check_box :completed, checked: @task.completed %>
    <%= form.label :completed, "Marcar como feita" %>
  </div>
  
  <%= form.submit "Atualizar Tarefa" %>
<% end %>

<br>
<%= link_to "Cancelar", @task_list %>